.child{
    background-color: red;
    height: 100px;
    width: 100px;
    margin-top: 2px;
}
.parent{
    grid-template-rows: auto auto auto ;
    grid-template-columns: auto auto auto;
    display: grid;
    

}