body{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
.bodimage{

    width: 20vw;

}
li{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */